form input{
    display: block;
    text-align: center;
    margin: auto;
    padding: 8px;
    width: 250px;
    margin: 20px auto;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: cursive;
}
form{
    width: 40%;
    height: auto;
    padding: 50px 100px;
    margin: 50px auto;
    background-color: #bbb;
    border-radius: 20px;
    margin-top: 140px;
}
form button{
    display: block;
    margin: auto;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #F44336;
    color: #ddd;
    font-size: 18px;
    font-family: system-ui;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
form button:hover{
    transition: all .3s ease-out;
    color: #fff;
}
form h2{
    font-size: 35px;
    text-align: center;
    font-family: fangsong;
    color: #F44336;
    font-weight: bold;
}
label{
    font-size: 25px;
    color: #222;
    text-align: center;
    display: block;
    margin: auto;
}
textarea{
    width: 300px;
    height: 120px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}